<div style="height: 110px;"></div>
<div class="container-fluid">
    <div class="card mb-3">
        <!-- Header  -->
        <div class="card-header">
            <h3><i class="fas fa-calendar-alt"></i>&nbsp;&nbsp;Eventos</h3>
            <button style="float: right;" (click)="openModalEvento()" type="button" class="btn btn-outline-info btn-sm"> Agregar Evento <i class="far fa-calendar-plus"></i></button>
        </div>
        
        <br>
        <div class="form-group row text-center">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Tipo de Evento:</label>
            <div class="col-sm-6">
                <select class="form-control" [(ngModel)]="tipoEventoSeleccionado" (change)="getEventoTipoEvento(tipoEventoSeleccionado)" name="tipoEventoSeleccionado" id="tipoEventoSeleccionado">
                    <option [ngValue]="undefined" hidden>Selecciona un tipo de evento...</option>
                    <option *ngFor="let tipo of tipoEventos" [ngValue]="tipo.id">{{tipo.nombre_tipo_evento}}</option>
                </select>
            </div>
            <div class="col-sm-2">
                <button style="float: right;" (click)="abreTipoEvento()" type="button" class="btn btn-outline-info btn-sm"> Administrar tipo de eventos</button>
            </div>
        </div>

        <!-- Body  -->
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center">Descripción</th>
                        <th class="text-center">Fecha de Inicio</th>
                        <th class="text-center">Fecha de Finalización</th>
                        <th class="text-center">Costo</th>
                        <th class="text-center">Enlace de Facebook</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let evento of eventos">
                        <td class="text-center">{{ evento.nombre }}</td>
                        <td class="text-center">{{ evento.descripcion }}</td>
                        <td class="text-center">{{ evento.fecha_inicio }}</td>
                        <td class="text-center">{{ evento.fecha_fin }}</td>
                        <td class="text-center">{{ evento.costo }}</td>
                        <td class="text-center">{{ evento.enlace_facebook }}</td>
                        <td>
                            <div>
                                <button (click)="asignarAlumno(evento)" type="button" class="btn btn-outline-primary">Alumnos <i class="fas fa-edit"></i></button>
                                &nbsp;&nbsp;
                                <button (click)="updateEvento(evento)" type="button" class="btn btn-outline-primary">Editar <i class="fas fa-edit"></i></button>
                                &nbsp;&nbsp;
                                <button (click)="deleteEvento(evento.id)" type="button" class="btn btn-outline-danger">Eliminar <i class="fas fa-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<br><br>

<div class="modal" id="eventoModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title"><i class="far fa-calendar-plus"></i>&nbsp;&nbsp;Agregar Evento</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form [formGroup]="eventoForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="nombre">Nombre<span class="text-danger">*</span></label>
                        <input type="text" formControlName="nombre" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }">
                        <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                            <div *ngIf="f.nombre.errors.required">El nombre del evento es obligatorio</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="descripcion">Descripción<span class="text-danger">*</span></label>
                        <input type="text" formControlName="descripcion" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.descripcion.errors }">
                        <div *ngIf="submitted && f.descripcion.errors" class="invalid-feedback">
                            <div *ngIf="f.descripcion.errors.required">La descripcion del evento es obligatorio</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="id_tipo_evento">Tipo de Evento<span class="text-danger">*</span></label>
                        <select class="form-control" formControlName="id_tipo_evento" [(ngModel)]="tipoEventoSeleccionado" (change)="getEventoTipoEvento(tipoEventoSeleccionado)" name="tipoEventoSeleccionado" id="tipoEventoSeleccionado" [ngClass]="{ 'is-invalid': submitted && f.id_tipo_evento.errors }">
                            <option [ngValue]="undefined" hidden>Selecciona un tipo de evento...</option>
                            <option *ngFor="let tipo of tipoEventos" [ngValue]="tipo.id">{{tipo.nombre_tipo_evento}}</option>
                        </select>
                        <div *ngIf="submitted && f.id_tipo_evento.errors" class="invalid-feedback">
                            <div *ngIf="f.id_tipo_evento.errors.required">El tipo de evento es obligatorio</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="fecha_inicio">Fecha de Inicio<span class="text-danger">*</span></label>
                        <input type="date" formControlName="fecha_inicio" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fecha_inicio.errors }" />
                        <div *ngIf="submitted && f.fecha_inicio.errors" class="invalid-feedback">
                            <div *ngIf="f.fecha_inicio.errors.required">La fecha de inicio del evento es obligatorio</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="fecha_fin">Fecha de Finalizacion<span class="text-danger">*</span></label>
                        <input type="date" formControlName="fecha_fin" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fecha_fin.errors }" />
                        <div *ngIf="submitted && f.fecha_fin.errors" class="invalid-feedback">
                            <div *ngIf="f.fecha_fin.errors.required">La fecha de finalizacion del evento es obligatorio</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="costo">Costo<span class="text-danger">*</span></label>
                        <input type="text" formControlName="costo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.costo.errors }" />
                        <div *ngIf="submitted && f.costo.errors" class="invalid-feedback">
                            <div *ngIf="f.costo.errors.required">El costo del evento es obligatorio</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="enlace_facebook">Enlace de Facebook<span class="text-danger">*</span></label>
                        <input type="URI" formControlName="enlace_facebook" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.enlace_facebook.errors }" />
                        <div *ngIf="submitted && f.enlace_facebook.errors" class="invalid-feedback">
                            <div *ngIf="f.enlace_facebook.errors.required">El enlace del evento en Facebook es obligatorio</div>
                        </div>
                    </div>

                    <p class="text-right"><span class="text-danger">*</span> Campos requeridos</p>
                    <div>
                        <button class="btn btn-outline-success btn-block">Guardar</button>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>

<br><br>

<div class="modal" id="asignarModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><i class="far fa-calendar-plus"></i>&nbsp;&nbsp;{{modalTitle}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group row text-center" (ngSubmit)="createEv_al(evento)">
                    <label for="colFormLabel" class="col-sm-2 col-form-label">Alumnos: </label>
                    <div class="col-sm-6">
                        <select class="form-control" [(ngModel)]="alumnoSeleccionado" (change)="getEventoTipoEvento(tipoEventoSeleccionado)" name="alumnoSeleccionado" id="alumnoSeleccionado">
                            <option [ngValue]="undefined" hidden>Selecciona un alumno...</option>
                            <option *ngFor="let alumno of alumnos" [ngValue]="alumno.id">{{ alumno.email }}</option>
                        </select>
                    </div>
                    <div>
                        <button class="btn btn-outline-success btn-block">Inscribir</button>
                    </div>
                </div>
                <div>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th class="text-center">Nombre</th>
                                <th class="text-center">Apellidos</th>
                                <th class="text-center">Actividad Marcial</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let alumno of alumnos">
                                <td class="text-center">{{ alumno.nombre }}</td>
                                <td class="text-center">{{ alumno.apellidos }}</td>
                                <td class="text-center">{{ alumno.actividad_marcial }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>