<div style="height: 110px;"></div>
<div class="container-fluid">
    <div class="card mb-3">
        
        <!-- Header -->
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-user"></i>&nbsp;&nbsp;Alumno</h3>
            <button style="float: right;" (click)="openModalAlumno()" type="button" class="btn btn-outline-info btn-sm">Registrar Alumno <i class="fa fa-user-plus"></i></button>
        </div>

        <!-- Body -->
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">Apellidos</th>
                        <th class="text-center">Actividad Marcial</th>
                        <!--<th class="text-center">Fotografia</th>-->
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let alumno of alumnos">
                        <td class="text-center">{{ alumno.nombre }}</td>
                        <td class="text-center">{{ alumno.apellidos }}</td>
                        <td class="text-center">{{ alumno.actividad_marcial }}</td>
                        <!--<td class="text-center">
                            <div class="card card-tweet" style="width: 18rem;">
                                <img class="center-img" src="{{ alumno.fotografia }}" width="150" height="150">
                                <div class="card-body">
                                    <p class="card-text">{{ alumno.grado }}</p>
                                </div>
                            </div>
                        </td>-->
                        <td>
                            <div>
                                <button (click)="openModalPerfil(alumno)" type="button" class="btn btn-outline-info">Perfil <i class="fas fa-user"></i></button>
                                &nbsp;&nbsp;
                                <button (click)="updateAlumno(alumno)" type="button" class="btn btn-outline-primary">Editar <i class="fas fa-edit"></i></button>
                                &nbsp;&nbsp;
                                <button (click)="deleteAlumno(alumno.id)" type="button" class="btn btn-outline-danger">Eliminar <i class="fas fa-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<br><br>

<div class="modal" id="alumnoModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ modalTitle }} Alumno</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form [formGroup]="alumnoForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="nombre">Nombre <span class="text-danger">*</span></label>
                        <input type="text" formControlName="nombre" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }"/>
                        <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                            <div *ngIf="f.nombre.errors.required">El nombre del alumno es obligatorio</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="apellidos">Apellido(s) <span class="text-danger">*</span></label>
                        <input type="text" formControlName="apellidos" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.apellidos.errors }"/>
                        <div *ngIf="submitted && f.apellidos.errors" class="invalid-feedback">
                            <div *ngIf="f.apellidos.errors.required">El apellido(s) del alumno es obligatorio</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fecha_nacimiento">Fecha de nacimiento <span class="text-danger">*</span></label>
                        <input type="date" formControlName="fecha_nacimiento" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fecha_nacimiento.errors }"/>
                        <div *ngIf="submitted && f.fecha_nacimiento.errors" class="invalid-feedback">
                            <div *ngIf="f.fecha_nacimiento.errors.required">La fecha de nacimiento del alumno es obligatorio</div>
                        </div>
                    </div>
                    <label for="fotografia">Fotografia <span class="text-danger">*</span></label>
                    <div class="custom-file">
                        <input type="file" accept="image/*" class="custom-file-input" (change)="imagenSelected($event)" [ngClass]="{ 'is-invalid': submitted && f.fotografia.errors }"/>
                        <label class="custom-file-label" for="cutomFile">Selecciona una imágen...</label>
                        <div *ngIf="submitted && f.fotografia.errors" class="invalid-feedback">
                            <div *ngIf="f.fotografia.errors.required">La fotografia del alumno es obligatorio</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="actividad_marcial">Actividad marcial <span class="text-danger">*</span></label>
                        <select class="form-control" (change)="cambioCinta($event.target.value)">
                            <option [ngValue]="undefined" selected>Selecciona una actividad marcial</option>
                            <option *ngFor="let actividad of actividades" [ngValue]="actividad">{{ actividad }}</option>
                        </select>
                        <div *ngIf="submitted && f.actividad_marcial.errors" class="invalid-feedback">
                            <div *ngIf="f.actividad_marcial.errors.required">La actividad marcial del alumno es obligatorio</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="grado">Grado <span class="text-danger">*</span></label>
                        <select class="custom-select" (change)="chequeoGrado($event.target.value)">
                            <option [ngValue]="undefined" selected>Selecciona una cinta</option>
                            <option *ngFor="let cinta of cintas" [ngValue]="cinta">{{ cinta }}</option>
                        </select>
                        <div *ngIf="submitted && f.grado.errors" class="invalid-feedback">
                            <div *ngIf="f.grado.errors.required">El grado del alumno es obligatorio</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="seguro_medico">Seguro médico <span class="text-danger">*</span></label>
                        <div class="custom-file">
                            <input type="file" accept=".pdf" class="custom-file-input" (change)="convertFileSeguro($event)" [ngClass]="{ 'is-invalid': submitted && f.seguro_medico.errors }"/>
                            <label class="custom-file-label" for="customFile">Selecciona un archivo pdf...</label>
                            <div *ngIf="submitted && f.seguro_medico.errors" class="invalid-feedback">
                                <div *ngIf="f.seguro_medico.errors.required">El seguro médico del alumno es obligatorio</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="certificado_medico">Certificado médico <span class="text-danger">*</span></label>
                        <div class="custom-file">
                            <input type="file" accept=".pdf" class="custom-file-input" (change)="convertFileCertificado($event)" [ngClass]="{ 'is-invalid': submitted && f.certificado_medico.errors }"/>
                            <label class="custom-file-label" for="customFile">Selecciona un archivo pdf...</label>
                            <div *ngIf="submitted && f.certificado_medico.errors" class="invalid-feedback">
                                <div *ngIf="f.certificado_medico.errors.required">El certificado médico del alumno es obligatorio</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="carta_responsiva">Carta responsiva <span class="text-danger">*</span></label>
                        <div class="custom-file">
                            <input type="file" accept=".pdf" class="custom-file-input" (change)="convertFileCarta($event)" [ngClass]="{ 'is-invalid': submitted && f.carta_responsiva.errors }"/>
                            <label class="custom-file-label" for="customFile">Selecciona un archivo pdf...</label>
                            <div *ngIf="submitted && f.carta_responsiva.errors" class="invalid-feedback">
                                <div *ngIf="f.carta_responsiva.errors.required">La carta responsiva del alumno es obligatorio</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Correo electrónico <span class="text-danger">*</span></label>
                        <input name="usuario" type="email" placeholder="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">El correo electrónico del alumno es obligatorio</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña <span class="text-danger">*</span></label>
                        <input name="password" type="password" placeholder="Contraseña" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">El password es obligatorio</div>
                            <div *ngIf="f.password.errors.minLength">Tu contraseña debe tener min. 8 caracteres</div>
                        </div>
                    </div>
                    
                    <p class="text-right"><span class="text-danger">*</span>Campos requeridos</p>
                    <div>
                        <button class="btn btn-success btn-block">Guardar</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<br><br>

<div class="modal" id="alumnoPerfil">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><i class="far fa-address-card"></i>&nbsp;&nbsp;{{modalTitle}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="card text-center border-success mb-3">
                    <div class="card-header">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#datos" role="tab" aria-controls="datos" aria-selected="true">Datos generales</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#archivos" role="tab" aria-controls="archivos" aria-selected="true">Archivos</a>
                            </li>
                        </ul>
                        <br>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="datos" role="tabpanel" aria-labelledby="home-tab">
                                <div class="card-deck">
                                    <div class="card card-tweet border-success mb-auto" style="width: 18rem;">
                                        <img class="center-img" src="{{alumnoImagen}}" width="225" height="225">
                                    </div>
                                    <div class="card border-success mb-3">
                                        <div class="card-body">
                                            <p class="card-text text-justify">Nombre: {{ alumnoNombre }}</p>
                                            <p class="card-text text-justify">Fecha de Nacimiento: {{ alumnoFecha | date : 'dd/MM/yyyy' }}</p>
                                            <p class="card-text text-justify">Email: {{ alumnoCorreo }}</p>
                                            <p class="card-text text-justify">Actividad Marcial: {{ alumnoActividad }}</p>
                                            <p class="card-text text-justify">Grado: {{ alumnoGrado }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="archivos" role="tabpanel" aria-labelledby="profile-tab">
                                <button (click)="showPDFCarta(alumnoCarta)" type="button" class="btn btn-link"><i class="fas fa-book-reader"></i>&nbsp;&nbsp;Carta responsiva</button>
                                <button (click)="showPDFCertificado(alumnoCertificado)" type="button" class="btn btn-link"><i class="fas fa-book-reader"></i>&nbsp;&nbsp;Certificado Médico</button>
                                <button (click)="showPDFSeguro(alumnoSeguro)" type="button" class="btn btn-link"><i class="fas fa-book-reader"></i>&nbsp;&nbsp;Seguro Médico</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <button class="btn btn-outline-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>