<!-- Header  -->
<div class="card-header">
    <h3>Alumno</h3>
</div>

<!-- Body  -->
<div class="card-body">
    <table class="table">
        <thead>
            <tr>
                <th class="text-center">Nombre</th>
                <th class="text-center">Apellidos</th>
                <th class="text-center">Fecha de Nacimiento</th>
                <th class="text-center">Fotografia</th>
                <th class="text-center">Actividad</th>
                <th class="text-center">Grado</th>
                <th class="text-center">Seguro Médico</th>
                <th class="text-center">Certificado Médico</th>
                <th class="text-center">Carta Responsiva</th>
                <th class="text-center">Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let alumno of alumnos">
                <td class="text-center">{{ persona.nombre }}</td>
                <td class="text-center">{{ persona.apellidos }}</td>
                <td class="text-center">{{ persona.fecha_nacimiento }}</td>
                <td class="text-center">{{ persona.fotografia }}</td>
                <td class="text-center">{{ persona.actividad }}</td>
                <td class="text-center">{{ persona.grado }}</td>
                <td class="text-center">{{ persona.seguro_medico }}</td>
                <td class="text-center">{{ persona.certificado_medico }}</td>
                <td class="text-center">{{ persona.carta_responsiva }}</td>
                <td class="text-center">{{ persona.email }}</td>

                <td>
                    <div>
                        <button (click)="updateAlumno(alumno)" type="button">Editar </button>
                        &nbsp;&nbsp;
                        <button (click)="deleteAlumno(alumno.id_alumno)" type="button">Eliminar </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<br><br>

<div>
    <form [formGroup]="alumnoForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="nombre">Nombre*</label>
            <input type="text" formControlName="nombre" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }">
            <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                <div *ngIf="f.nombre.errors.required">El nombre del alumno es obligatorio</div>
            </div>
        </div>

        <div class="form-group">
            <label for="apellidos">Apellidos*</label>
            <input type="text" formControlName="apellidos" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.apellidos.errors }" />
            <div *ngIf="submitted && f.apellidos.errors" class="invalid-feedback">
              <div *ngIf="f.apellidos.errors.required">Los apellidos del alumno son obligatorios</div>
            </div>
        </div>
  
        <div class="form-group">
          <label for="fecha_nacimiento">Fecha de nacimiento*</label>
          <input type="date" formControlName="fecha_nacimiento" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fecha_nacimiento.errors }" />
          <div *ngIf="submitted && f.fecha_nacimiento.errors" class="invalid-feedback">
            <div *ngIf="f.fecha_nacimiento.errors.required">La fecha de nacimiento del alumno es obligatorio</div>
          </div>
      </div>
        

        <p>* Campos requeridos</p>
        <div>
            <button>Guardar</button>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button>Cerrar</button>
</div>