<!-- Masthead-->
<header class="masthead text-white text-center">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="login-container">
				<div id="output"></div>
				<div class="avatar"></div>
				<div class="form-box">
					<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
						<input name="usuario" type="email" placeholder="Email" formControlName="email">
						<input name="password" type="password" placeholder="Contraseña" formControlName="password">
						<button type="submit" class="btn btn-block btn-info" routerLink="/">Ingresar</button>
						<button type="submit" class="btn btn-block btn-info" routerLink="/">Registrate</button> 
					</form>
				</div>
			</div>
		</div>
	</div>
</header>